h1{
    background-color: aquamarine;
    border: 5px solid rebeccapurple;
    padding: 10px 20px;
    text-align: center;
}
p{
    text-align: justify;
    background-color: gray;
}
div{
    background-color: rgb(42, 250, 240);
}